@import "../../index.scss";

.miscellaneous-page {
	text-align: center;
	.categories {
		display: flex;
		justify-content: center;
		.item {
			color: $stride-darkblue;
			width: 200px;
			.icon {
				font-size: 75px;
				margin-bottom: 15.75px;
			}
			&:hover {
				color: $stride-blue;
				cursor: pointer;
			}
		}
	}
}

@media only screen and (min-width: 601px) {
	.miscellaneous-page {
		margin: 15vh 0 30vh;
		.categories {
			flex-direction: row;
			align-items: flex-start;
			margin: 45px 0;
			.item {
				margin: 0 60px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
    .miscellaneous-page {
        margin: 50px 0 75px;   
		.title {
			padding-top: 15.75px;
		} 
        .categories {
            flex-direction: column;
			align-items: center;
			margin: 0;
            .item {
                margin: 15px;
            }
        }
    }
}