@import "../../index.scss";

.footer {
	padding: 15.75px;
	padding-bottom: 0;
	background-color: $stride-darkgray;
	display: block;
	color: $stride-lightgray;
	.logo {
		height: 40px;
	}
	.flex {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.address {
			text-align: left;
		}
		.phone {
			text-align: right;
		}
	}
	.break {
		margin: 15.75px 0 0;
		border-color: $stride-blue;
	}
	.credit {
		padding: 15.75px;
		margin: 0 -15.75px;
		text-align: center;
		a {
			color: $stride-lightgray;
		}
	}
}

@media only screen and (max-width: 600px) {
	.footer {
		text-align: center;
		.flex {
			flex-direction: column;
			align-items: center;
			.address {
				text-align: center;
				padding: 15.75px 0;
			}
			.phone {
				text-align: center;
				padding: 15.75px 0;
			}
		}
	}
}