@import "./index.scss";

.app {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	padding: 15.75px;
	background-color: $white;
	color: $stride-font;
}

.stride-blue {
	color: $stride-blue;
}

.xxl {
	font-size: 45px;
	line-height: normal;
}

.xl {
	font-size: 30px;
	line-height: normal;
}

.lg {
	font-size: 18px;
	line-height: normal;
}

.uppercase {
	text-transform: uppercase;
}

.title {
	padding-bottom: 15.75px;
	color: $black;
}

.step-page {
    margin: 0 0 30vh;
    .title {
        text-align: center;
    }
    .step {
        margin: 15.75px 0;
        .step-item {
            margin-left: 15.75px;
            li {
                margin-left: 15.75px;
            }
            .image {
                width: 70%;
                margin: 15.75px 0;
            }
            code {
                margin: 7.38px;
                padding: 7.38px 15.75px;
                color: $white;
                background-color: $stride-darkgray;
            }
        }
    }
}

.article-page {
    margin: 0 0 30vh;
    .title {
        text-align: center;
    }
    .content {
        width: 70%;
        min-width: 300px;
        margin: 0 auto;
        .para {
            padding-bottom: 15.75px;
        }
    }
    a {
        color: $stride-blue;
        &:hover {
            color: $stride-green;
        }
    }
}

.small-image {
    width: 300px !important; 
}