@import "./index.scss";

.app {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	padding: 15.75px;
	background-color: $white;
	color: $stride-font;
}

.stride-blue {
	color: $stride-blue;
}

.big {
	font-size: 45px;
	line-height: normal;
}

.uppercase {
	text-transform: uppercase;
}
