@import "../../index.scss";

.not-found-page {
	max-height: 50vh;
	margin: 25vh auto;
	width: 70%;
	min-width: 300px;
	.big {
		color: $black;
		padding: 7.375px 0;
	}
	.go-home {
		padding: 15.75px 0;
		.fas {
			padding-left: 7.375px;
		}
	}
}