@import "../../index.scss";

.not-found-page {
	max-height: 50vh;
	margin: 25vh 0;
	.big {
		color: $black;
		padding: 7.38px 0;
	}
	.go-home {
		padding: 15.75px 0;
		.fas {
			padding-left: 7.38px;
		}
	}
}